body {
    background-color: #ffffff;
    font-family: 'Viaoda Libre', cursive;, serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;
}
/* Paragraph & Typographic */
p {
    font-style: italic;
    line-height: 28px;
    font-size: 20px;
}
.centered {
    text-align: center;
}
/* Links */
a {
    color: #006466;
    word-wrap: break-word;
}
.rainbow{
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    
  }
a:hover,
a:focus {
   background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
    animation:slidebg 2s linear infinite;
      }


 hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 10rem;
}
.logo {
	text-align: center;
	margin-top: 25px;
    size: 50rem;
}
.banner {
    display: center;
    margin-right: 50rem;
}
h1 {
	font-size: 70px;
}
.w {
	margin-top: 10px;
}
.w i {
	font-size: 50px;
	padding: 20px;
}
@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
  
  .follow{
    margin-top: 50px;
  }
  
  .follow a{
    color: black;
    padding: 8px 8px;
  }
  
  